.search {
  display: flex;
  align-items: flex-end;
  margin: 1rem 0 2rem;
  width: 100%;
  max-width: 60rem;
}

.search > div {
  margin-right: 1rem;
}

.search > button {
  margin-right: 1rem;
}

.searchPhoto {
  display: flex;
  flex-wrap: wrap;
}

.list {
  display: flex;
  margin-bottom: 1rem;
}

.list > p {
  margin-right: 0.5rem;
}

.images {
  display: flex;
}

.images > div {
  margin: 0 1rem 1rem 0;
  width: 10rem;
  height: 10rem;
  position: relative;
}

.images > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.images > div > p {
  text-align: center;
}
