.search {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.search > div {
  margin-right: 1rem;
}

p{
  color: #000000;
  font-size: 1.3rem;
  font-weight: bold;
}

pre{
  color: #000000;
  font-size: 1.1rem;
  font-weight: bold;

}